/* AUI BUTTONS
 * Note hover/disabled styles set directly as they are not precisely the same as
 * if we used straight opacity.
 */

/* Basic Button Style */
a.aui-button.aui-style,
button.aui-button.aui-style {
    background: #f2f2f2;
    background: -webkit-linear-gradient(top, #fff 0%, #f2f2f2 100%);
    background:    -moz-linear-gradient(top, #fff 0%, #f2f2f2 100%);
    background:     -ms-linear-gradient(top, #fff 0%, #f2f2f2 100%);
    background:      -o-linear-gradient(top, #fff 0%, #f2f2f2 100%);
    background:         linear-gradient(to bottom, #fff 0%, #f2f2f2 100%);
	border-color: #ccc; 
    border-radius: 3px;
    border-style: solid; /* border width and style don't change after this */
	border-width: 1px; /* border width and style don't change after this */
	color: #333;
	display: inline-block;
	font-size: 14px;
    font-family: sans-serif;
    font-variant: normal;
	line-height: 20px;
	margin: 0 10px 0 0;
	padding: 4px 10px;
	text-decoration: none;
	text-shadow: 0 1px 0 white;
    vertical-align: baseline;
}

/* Control button height in Firefox. See http://www.experimentgarden.com/2010/11/firefox-buttontext-height-and-padding.html */
.aui-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.aui-button.aui-style {
    cursor: pointer;
}

.aui-button.aui-style[aria-disabled="true"] {
    cursor: default;
}

.aui-button.aui-style:focus,
.aui-button.aui-style:hover {
    background: #f7f7f7;
    background: -webkit-linear-gradient(top, #fff 0%, #f7f7f7 100%);
    background:    -moz-linear-gradient(top, #fff 0%, #f7f7f7 100%);
    background:     -ms-linear-gradient(top, #fff 0%, #f7f7f7 100%);
    background:      -o-linear-gradient(top, #fff 0%, #f7f7f7 100%);
    background:         linear-gradient(to bottom, #fff 0%, #f7f7f7 100%);
	border-color: #999;
	color: #000;
	text-decoration:none;
}

.aui-button.aui-style:active,
.aui-button.aui-style.active {
	background: #f2f2f2;
	background-image: none;
	background-color: #F2F2F2;
	box-shadow: inset 0px 3px 6px rgba(0,0,0,.1);
	text-shadow: none;
	text-decoration:none;
}

.aui-button.aui-style[aria-disabled="true"],
.aui-button.aui-style[aria-disabled="true"]:hover,
.aui-button.aui-style[aria-disabled="true"]:focus,
.aui-button.aui-style[aria-disabled="true"]:active {
    background: #f2f2f2;
    background: -webkit-linear-gradient(top, #fff 0%, #f2f2f2 100%);
    background:    -moz-linear-gradient(top, #fff 0%, #f2f2f2 100%);
    background:     -ms-linear-gradient(top, #fff 0%, #f2f2f2 100%);
    background:      -o-linear-gradient(top, #fff 0%, #f2f2f2 100%);
    background:         linear-gradient(to bottom, #fff 0%, #f2f2f2 100%);
    border-color: #ddd;
    box-shadow:none;
    color: #999;
	text-shadow: none;
}


/* Primary Buttons */
.aui-button.aui-style.aui-button-primary {
    background: #3068a2;
    background: -webkit-linear-gradient(top, #4687ce 0%, #3068a2 100%);
    background:    -moz-linear-gradient(top, #4687ce 0%, #3068a2 100%);
    background:     -ms-linear-gradient(top, #4687ce 0%, #3068a2 100%);
    background:      -o-linear-gradient(top, #4687ce 0%, #3068a2 100%);
    background:         linear-gradient(to bottom, #4687ce 0%, #3068a2 100%); 
    border-color: #486582;
    color: #FFF;
	font-weight: bold;
	text-shadow: 0 1px 0 #205081;
}

.aui-button.aui-style.aui-button-primary:hover,
.aui-button.aui-style.aui-button-primary:focus {
    background: #3673B5;
    background: -webkit-linear-gradient(top, #5A94D3 0%, #3673B5 100%);
    background:    -moz-linear-gradient(top, #5A94D3 0%, #3673B5 100%); 
    background:     -ms-linear-gradient(top, #5A94D3 0%, #3673B5 100%);
    background:      -o-linear-gradient(top, #5A94D3 0%, #3673B5 100%);
    background:         linear-gradient(to bottom, #5A94D3 0%,#3673B5 100%);
    border-color: #205081;
    color: #FFF;
	text-shadow: 0 1px 0 #205081;
}

.aui-button.aui-style.aui-button-primary:active {
	background: #3673B5;
	background-image: none;
	background-color: #3673B5;
	box-shadow: inset 0px 3px 6px rgba(0,0,0,.1);
	text-shadow: none;
	text-decoration:none;
}

.aui-button.aui-style.aui-button-primary[aria-disabled="true"],
.aui-button.aui-style.aui-button-primary[aria-disabled="true"]:hover,
.aui-button.aui-style.aui-button-primary[aria-disabled="true"]:focus,
.aui-button.aui-style.aui-button-primary[aria-disabled="true"]:active {
	background: #97b3d0;
    background: -webkit-linear-gradient(top, #a2c3e6 0%, #97b3d0 100%);
    background:    -moz-linear-gradient(top, #a2c3e6 0%, #97b3d0 100%);
    background:     -ms-linear-gradient(top, #a2c3e6 0%, #97b3d0 100%);
    background:      -o-linear-gradient(top, #a2c3e6 0%, #97b3d0 100%);
    background:         linear-gradient(to bottom, #a2c3e6 0%, #97b3d0 100%);
    border-color: #7f9cb9;
    box-shadow:none;
    color: #FFF;
	font-weight: bold;
	text-shadow: 0 1px 0 #7c9ec2;
}


/* Link style buttons - used for destructive/cancel actions ONLY */
.aui-button.aui-style.aui-button-link {
    background: transparent;
    border-color: transparent;
    color: #326CA6;
	padding: 5px 0;
    text-decoration: none;
    text-shadow: none;
}

.aui-button.aui-style.aui-button-link:focus,
.aui-button.aui-style.aui-button-link:hover,
.aui-button.aui-style.aui-button-link:active {
    background: transparent;
    border-color: transparent;
    box-shadow: none;
    text-decoration: underline;
}

.aui-button.aui-style.aui-button-link[aria-disabled="true"],
.aui-button.aui-style.aui-button-link[aria-disabled="true"]:hover,
.aui-button.aui-style.aui-button-link[aria-disabled="true"]:focus,
.aui-button.aui-style.aui-button-link[aria-disabled="true"]:active {
    background: transparent;
    border-color: transparent;
    color: #999;
    text-shadow: none;
    text-decoration: none;
}


/* aui-buttons groups buttons together into one button lozenge. */
.aui-buttons {
    display: inline-block;
}
.aui-buttons:after {
    content: "";
    display: table;
    clear: both;
}
.aui-buttons .aui-button.aui-style {
	border-radius: 0;
    border-left: 1px solid #fff;
    float: left;
    margin: 0;
}
.aui-buttons .aui-button.aui-style:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-left: 1px solid #ccc;
}
.aui-buttons + .aui-buttons .aui-button.aui-style:first-child {
    margin-left: 10px;
}
.aui-buttons .aui-button.aui-style:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* Grouped buttons go into toolbar style */
.aui-buttons .aui-button.aui-style:focus,
.aui-buttons .aui-button.aui-style:hover,
.aui-buttons .aui-button.aui-style:active {
    border-color: #999;
}
.aui-buttons .aui-button.aui-style[aria-disabled="true"],
.aui-buttons .aui-button.aui-style[aria-disabled="true"]:hover,
.aui-buttons .aui-button.aui-style[aria-disabled="true"]:focus,
.aui-buttons .aui-button.aui-style[aria-disabled="true"]:active {
	border-color: #ccc;
	border-left-color: #fff;
}
.aui-buttons .aui-button.aui-style[aria-disabled="true"]:first-child,
.aui-buttons .aui-button.aui-style[aria-disabled="true"]:first-child:hover,
.aui-buttons .aui-button.aui-style[aria-disabled="true"]:first-child:focus,
.aui-buttons .aui-button.aui-style[aria-disabled="true"]:first-child:active {
	border-left-color: #ccc;
}


/* Grouped Primary Buttons */

/* Primary Buttons */
.aui-buttons .aui-button.aui-style.aui-button-primary {
	background: #f2f2f2;
    background: -webkit-linear-gradient(top, #fff 0%, #f2f2f2 100%);
    background:    -moz-linear-gradient(top, #fff 0%, #f2f2f2 100%);
    background:     -ms-linear-gradient(top, #fff 0%, #f2f2f2 100%);
    background:      -o-linear-gradient(top, #fff 0%, #f2f2f2 100%);
    background:         linear-gradient(to bottom, #fff 0%, #f2f2f2 100%);
	border-color: #ccc;
	border-left-color: #fff;
	color: #3C77B4;
    text-shadow: none;
}

.aui-buttons .aui-button.aui-style.aui-button-primary:first-child {
	border-left-color: #ccc;
}

.aui-buttons .aui-button.aui-style.aui-button-primary:hover,
.aui-buttons .aui-button.aui-style.aui-button-primary:focus,
.aui-buttons .aui-button.aui-style.aui-button-primary:active {
    border-color: #999;
    color: #205081;
}

.aui-buttons .aui-button.aui-style.aui-button-primary[aria-disabled="true"],
.aui-buttons .aui-button.aui-style.aui-button-primary[aria-disabled="true"]:hover,
.aui-buttons .aui-button.aui-style.aui-button-primary[aria-disabled="true"]:focus,
.aui-buttons .aui-button.aui-style.aui-button-primary[aria-disabled="true"]:active {
	background: #f2f2f2;
    background: -webkit-linear-gradient(top, #fff 0%, #f2f2f2 100%);
    background:    -moz-linear-gradient(top, #fff 0%, #f2f2f2 100%);
    background:     -ms-linear-gradient(top, #fff 0%, #f2f2f2 100%);
    background:      -o-linear-gradient(top, #fff 0%, #f2f2f2 100%);
    background:         linear-gradient(to bottom, #fff 0%, #f2f2f2 100%);
	border-color: #ccc;
	border-left-color: #fff;
    color: #9dbbd9;
    text-shadow: none;
}

.aui-buttons .aui-button.aui-style.aui-button-primary[aria-disabled="true"]:first-child,
.aui-buttons .aui-button.aui-style.aui-button-primary[aria-disabled="true"]:first-child:hover,
.aui-buttons .aui-button.aui-style.aui-button-primary[aria-disabled="true"]:first-child:focus,
.aui-buttons .aui-button.aui-style.aui-button-primary[aria-disabled="true"]:first-child:active {
	border-left-color: #ccc;
}

/* Dropdown2 integration */
.aui-button.aui-style.aui-dropdown2-trigger:first-child.active,
.aui-button.aui-style.aui-dropdown2-trigger.active {
    /* square off bottom corners */
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    /* avoid double border - padding bottom = padding bottom + bottom border width */
    border-bottom: none;
    padding-bottom: 5px;
}