table.aui {
    border-collapse: collapse;
    margin: 0 0 1em 0;
    width: 100%;
}

/*
table.aui tr:hover,
table.aui tr:hover th {
    background: #f0f0f0;
}
*/

    table.aui table.aui {
        margin: 0;
    }
    table.aui > caption {
        padding: 0.5em;
    }
    table.aui > tbody > tr,
    table.aui > tfoot > tr {
        background: #fff;
        border-bottom: 1px solid #ddd;
        color: #111;
    }

    table.aui > tbody > tr > th {
        background: #fafafa;
        color: #111;
    }
        table.aui > thead > tr > th,
        table.aui > tbody > tr > th,
        table.aui > thead > tr > td,
        table.aui > tbody > tr > td,
        table.aui > tfoot > tr > td {
            padding: 0.5em 0.4em 0.5em 0.6em;
            text-align: left;
        }
    table.aui > thead {
        border-bottom: 1px solid #bbb;
    }
        table.aui > thead > tr > th {
            background: #f0f0f0;
            color: #000;
        }
    /* Borders on TBODY and TFOOT don't work in IE - whereas these at least work in IE7 & IE8 */
    table.aui > tbody > tr:first-child > td,
    table.aui > tbody > tr:first-child > th,
    table.aui > tfoot > tr:first-child > td {
        border-top: 1px solid #bbb;
    }
        table.aui > thead > tr > th > ul.menu,
        table.aui > tbody > tr > th > ul.menu,
        table.aui > tbody > tr > td > ul.menu,
        table.aui > tfoot > tr > td > ul.menu {
            list-style-type: none;
            margin: 0; 
            padding: 0;
        }
        table.aui > thead > tr > th > ul.menu > li,
        table.aui > tbody > tr > th > ul.menu > li,
        table.aui > tbody > tr > td > ul.menu > li,
        table.aui > tfoot > tr > td > ul.menu > li {
            float: left;
            margin: 0 0.5em 0 0;
            width: auto;
        }

    /* stripes - deprecated */
    table.aui.aui-zebra tr {
        border-bottom: 0;
    }
    table.aui.aui-zebra > thead > tr:nth-child(even),
    table.aui.aui-zebra > tbody > tr:nth-child(even),
    table.aui.aui-zebra > tfoot > tr:nth-child(even) {
        background: #fafafa;
        color: #111;
    }
    /* must be a separate rule for IE */
    table.aui-zebra tr.aui-zebra {
        background: #fafafa;
        color: #111;
    }
    table.aui-zebra tr.aui-zebra th {
        background: #f0f0f0;
        color: #000;
    }
    table.aui-zebra > tbody > tr:nth-child(even) > th {
        background: #f0f0f0;
        color: #000;
    }
    /* end stripes - deprecated */

    /* last gasp of ie7 support... it doesn't do borders on TR */
    *+ html table.aui td {
        border-bottom: 1px solid #ddd;
    }
    *+ html table.aui table td {
        border-bottom: 0;
    }
    *+ html table.aui-zebra td {
        border-bottom: 0;
    }
