/*! AUI Date Picker, using jQuery UI Date Picker */
/* 
 * CSS is a bit curious because it has to work both with and without jQuery UI's theme CSS present.
 * jQuery UI themes are not meant to be loaded, but we can't prevent the scenario.
 */

.aui-inline-dialog .ui-datepicker {
    background: inherit;
    color: inherit;
    font-size: 14px;
    font-family: Arial, sans-serif;
    padding: 0;
    width: 100%;
}

.aui-inline-dialog .ui-datepicker .ui-datepicker-header {
    height: 20px;
    margin: 0 0 8px 0;
    padding: 0;
    position:relative; 
}

.aui-inline-dialog .ui-datepicker .ui-datepicker-prev, 
.aui-inline-dialog .ui-datepicker .ui-datepicker-prev-hover, 
.aui-inline-dialog .ui-datepicker .ui-datepicker-next,
.aui-inline-dialog .ui-datepicker .ui-datepicker-next-hover { 
    cursor: default;
    height: 20px; 
    line-height: 20px;
    padding: 0;
    position: absolute; 
    text-align: center;
    top: 0;
    width: 38px; /* 40px - border width */
}
.aui-inline-dialog .ui-datepicker .ui-datepicker-prev,
.aui-inline-dialog .ui-datepicker .ui-datepicker-prev-hover { left: 0; }
.aui-inline-dialog .ui-datepicker .ui-datepicker-next,
.aui-inline-dialog .ui-datepicker .ui-datepicker-next-hover { right: 0; }

.aui-inline-dialog .ui-datepicker .ui-datepicker-prev span, 
.aui-inline-dialog .ui-datepicker .ui-datepicker-next span { 
    display: block; 
    position: absolute; 
    left: 15px; 
    top: 0; 
    margin: 0;
}

.aui-inline-dialog .ui-datepicker .ui-datepicker-title {
    color: #333;
    font-size: 20px;
    font-weight: normal;
    height: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* jQuery UI Date Picker - Calendar */

.aui-inline-dialog .ui-datepicker .ui-datepicker-calendar {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    table-layout: fixed;
    width: 100%;
}

.aui-inline-dialog .ui-datepicker .ui-datepicker-calendar th,
.aui-inline-dialog .ui-datepicker .ui-datepicker-calendar td,
.aui-inline-dialog .ui-datepicker .ui-datepicker-calendar td a,
.aui-inline-dialog .ui-datepicker .ui-datepicker-calendar td span {
    line-height: 20px;
}

.aui-inline-dialog .ui-datepicker .ui-datepicker-calendar th {
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding: 1px 0;
    text-align: center;
}

.aui-inline-dialog .ui-datepicker .ui-datepicker-calendar td {
    text-align: right;
}

.aui-inline-dialog .ui-datepicker .ui-datepicker-calendar td a {
    background: #fff;
    color: #3b73af;
    text-decoration: none;
}

.aui-inline-dialog .ui-datepicker .ui-datepicker-calendar td a,
.aui-inline-dialog .ui-datepicker .ui-datepicker-calendar td span {
    cursor: default;
    display: block;
    font-size: 14px;
    font-family: Arial, sans-serif;
    padding: 0 8px;
}

.aui-inline-dialog .ui-datepicker .ui-datepicker-calendar .ui-datepicker-current-day a {
    background: #3b73af;
    color: #fff;
}

.aui-inline-dialog .ui-datepicker .ui-datepicker-today {
    font-weight: bold;
}

.aui-inline-dialog .ui-datepicker .ui-datepicker-unselectable {
    color: #707070;
}

/* jQuery UI Date Picker - Common; note that we need the extra specificity for .ui-datepicker-prev and .ui-datepicker-next to override the demo style sheets */
.aui-inline-dialog .ui-datepicker .ui-datepicker-header .ui-datepicker-prev:hover, 
.aui-inline-dialog .ui-datepicker .ui-datepicker-header .ui-datepicker-prev:active, 
.aui-inline-dialog .ui-datepicker .ui-datepicker-header .ui-datepicker-prev:focus,
.aui-inline-dialog .ui-datepicker .ui-datepicker-header .ui-datepicker-next:hover, 
.aui-inline-dialog .ui-datepicker .ui-datepicker-header .ui-datepicker-next:active, 
.aui-inline-dialog .ui-datepicker .ui-datepicker-header .ui-datepicker-next:focus,
.aui-inline-dialog .ui-datepicker .ui-datepicker-calendar td a:hover, 
.aui-inline-dialog .ui-datepicker .ui-datepicker-calendar td a:active, 
.aui-inline-dialog .ui-datepicker .ui-datepicker-calendar td a:focus {
    outline: 1px solid #707070;
    text-decoration: none;
}

.aui-inline-dialog .ui-datepicker .ui-datepicker-prev.ui-state-disabled, 
.aui-inline-dialog .ui-datepicker .ui-datepicker-header .ui-datepicker-prev.ui-state-disabled:hover, 
.aui-inline-dialog .ui-datepicker .ui-datepicker-header .ui-datepicker-prev.ui-state-disabled:active, 
.aui-inline-dialog .ui-datepicker .ui-datepicker-header .ui-datepicker-prev.ui-state-disabled:focus,
.aui-inline-dialog .ui-datepicker .ui-datepicker-next.ui-state-disabled, 
.aui-inline-dialog .ui-datepicker .ui-datepicker-header .ui-datepicker-next.ui-state-disabled:hover, 
.aui-inline-dialog .ui-datepicker .ui-datepicker-header .ui-datepicker-next.ui-state-disabled:active, 
.aui-inline-dialog .ui-datepicker .ui-datepicker-header .ui-datepicker-next.ui-state-disabled:focus {
    color: #707070;
    outline: none;
}